body {
    background-color: #4682B4;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.horario {
    color: #FFF0F5;
    font-size: 150px;
    margin-bottom: 30px;
}

.data {
    color: #FFF0F5;
    font-size: 70px;
}