body {
    background-color: #4682B4;
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horario {
    font-size: 90px;
}

.data {
    font-size: 50px;
}