.fundo-manha {
    /**background-color: #4682B4;**/
    background-image: url("../manha.jpg");
}

.fundo-tarde {
    background-image: url("../tarde.jpg");
}

.caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.horario {
    color: #FFF0F5;
    font-size: 150px;
    margin-bottom: 30px;
}

.data {
    color: #FFF0F5;
    font-size: 70px;
    margin-bottom: 20px;
}

.dia {
    color: #FFF0F5;
    font-size: 30px;
}

@media screen and (min-width: 280px) and (max-width: 456px) {
    .horario {
        font-size: 80px;
    }

    .data {
        font-size: 50px;
    }
}

@media screen and (min-width: 457px) and (max-width: 1280px) {
    .horario {
        font-size: 130px;
    }
}